

.left-container{
    width: 30%;
    height: 100vh;
    background-color: mediumblue;
    position: fixed;
    margin: 0;
    padding: 0;
}

.photo-contact{
    margin-top: 30px;
    text-align: center;
}
.photo{
    height:200px;
    width:50%;
    border-radius: 40%
}
.select button{
    margin-top: 20px;
    padding:5px;
    width: 60%;
    border-radius: 10%;
    margin-bottom: 2px;
}
.select button:hover{
    background-color: gray;
    font-weight: bold;
    transition: 0.5s;
}
.select button a{
    font-family: monospace;
    font-weight: bold;
    color: black;
}
.select button a:hover{
    color: white;
}
.right-container {
    margin-left: 30%;
    padding-left: 10px;
    width: 65%;
    padding-top: 10px;

}
.judul a{
    color: green;
    font-family: monospace;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.judul a:hover{
    color: blue;
}

.about{
    height: 100vh;
    padding-top: 50px;
    text-align: left;
    font-size: x-large;
}
.about h2{
    margin-bottom: 100px;
    text-align: right;
}

.pendidikan{
    height: 100vh;
    padding-top: 50px;
    text-align: left;
    font-size:x-large;
}

.pendidikan h2{
    margin-bottom: 100px;
    text-align: right;
}

.experience{
    height: 100vh;
    padding-top: 50px;
    text-align: left;
    font-size:x-large;
}
.experience h2{
    margin-bottom: 100px;
    text-align: right;
}

.keahlian{
    height: 100vh;
    padding-top: 50px;
    text-align: left;
    font-size:x-large;
}
.keahlian h2{
    margin-bottom: 100px;
    text-align: right;
}

.ContactMe{
    height: 100vh;
    padding-top: 50px;
    text-align: left;
    font-size:x-large;
}
.ContactMe h2{
    margin-bottom: 100px;
    text-align: right;
}